<div class="meta-navigation">
  <app-global class="meta-navigation__global"></app-global>
  <div class="meta-navigation__wrapper">
    <div class="meta-navigation__header">
      <div class="meta-navigation__logo">LOGO</div>
    </div>

    <div class="meta-navigation__target-group">
      <div class="meta-navigation__element meta-navigation--active">Home</div>
      <div class="meta-navigation__element">About</div>
      <div class="meta-navigation__element">Service</div>
    </div>

    <div class="meta-navigation__controls">
      <span class="meta-navigation__btn" (click)="openGlobal()">Open</span>
    </div>
  </div>

  <app-main class="meta-navigation__main-nav"></app-main>
  <!-- search overlay -->
</div>
