<div class="meta-navigation">
  <div class="meta-navigation__global">Some data</div>
  <div class="meta-navigation__wrapper">
    <div class="meta-navigation__header">
      <div class="meta-navigation__logo">LOGO</div>
    </div>

    <div class="meta-navigation__target-group">
      <div class="meta-navigation__element meta-navigation--active">Home</div>
      <div class="meta-navigation__element">About</div>
      <div class="meta-navigation__element" data-open="elem-2">Service</div>
    </div>

    <div class="meta-navigation__controls">
      <span class="meta-navigation__btn">Open</span>
    </div>
  </div>

  <app-main-nav class="meta-navigation__main-nav"></app-main-nav>
  <!-- search overlay -->
</div>
