<div class="radio-bts">
  <div class="radio-bts__elements">
    <input class="radio-btn radio-btn--circle-red" type="radio" />
  </div>
  <div class="radio-bts__elements radio-bts--morph">
    <label class="radio-btn-morphic">
      <input type="radio" name="a" class="radio-btn-morphic__check" />
      <fa-icon class="radio-btn-morphic__icon" [icon]="faCheck"></fa-icon>
    </label>
    <label class="radio-btn-morphic">
      <input type="radio" name="a" class="radio-btn-morphic__check" />
      <fa-icon class="radio-btn-morphic__icon" [icon]="faTimes"></fa-icon>
    </label>
  </div>
</div>
