@import 'src/styles/css/atoms/radio-btn';
@import 'src/styles/css/atoms/radio-btn-morphic';

.radio-bts {
  display: flex;
  padding: 20px;

  &__elements {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--morph {
    background-color: #091921;
    height: 70px;
    width: 200px;
  }
}
