@import 'src/styles/css/atoms/radio-btn';

.radio-bts {
  display: flex;
  padding: 20px;

  &__elements {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* This is for morph radio btn */
  &__wrapper {
    position: relative;
    margin-right: 10px;
    padding-left: 10px;
    width: 40px;
    height: 40px;
    background-color: #091921;
    border-radius: 50%;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
      2px 2px 6px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8),
        inset -2px -2px 10px rgba(255, 255, 255, 0.05),
        inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &--morph {
    background-color: #091921;
    height: 70px;
    width: 200px;
  }

  &__check {
    appearance: none;

    &:checked ~ .radio-bts__icon {
      color: #00fff1;
      box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 1);
      text-shadow: 0 0 5px #00fff1, 0 0 20px #00fff1;
    }
  }

  &__icon {
    position: relative;
    line-height: 40px;
    color: #6f6f6f;
    font-size: 16px;
  }

  /* To here */
}
