.btn-isometric {
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
  width: 40px;
  height: 40px;
  margin-left: 40px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    color: rgba(255, 255, 255, 0.2);
    font-size: 30px;
  }

  &:hover {
    .btn-isometric__icon {
      transition: 0.5s;
      color: #fff;
      background-color: #55acee;
      opacity: 0.4;
      @for $var from 2 to 6 {
        &:nth-child(#{$var}) {
          opacity: #{$var * 0.2};
          transform: translate(#{$var * 5px}, -#{$var * 5px});
        }
      }
    }

    &::after,
    &::before {
      background-color: #55acee;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 40px;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 42px;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
  }
}
