.checkbox-switch {
  position: relative;
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin: 10px 0;

  &__input {
    opacity: 0;

    &:checked {
      ~ .checkbox-switch__check {
        &:before {
          background-color: #101010;
          box-shadow: none;
        }

        &:after {
          background-color: #0f0;
          box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0,
            0 0 80px #0f0;
        }
      }

      ~ .checkbox-switch__btn {
        left: 50%;
      }
    }
  }

  &__check {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #101010;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #101010;

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 4px);
      left: -30px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #f00;
      transition: 0.5s;
      box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00,
        0 0 80px #f00;
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 4px);
      right: -30px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #101010;
      transition: 0.5s;
      box-shadow: none;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 40px;
    transition: 0.5s;
    border-radius: 40px;
    background-color: #333;
    box-shadow: inset 0 -20px 15px #292929, inset 0 20px 15px #292929;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 27px;
      height: 40px;
      background-color: #015a69;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
      filter: blur(2px);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 27px;
      height: 40px;
      background-color: #015a69;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
      filter: blur(2px);
    }
  }
}
