$radio-btn-colors: (
  'circle-red': red,
  'circle-blue': blue,
  'circle-green': green,
);

.radio-btn {
  cursor: pointer;

  &:after {
    content: '';
    height: 17px;
    width: 17px;
    border: 1px solid grey;
    background-color: #fffefe;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    display: inline-block;
  }

  &:checked:after {
    border: 1px solid white;
    background-color: red;
  }

  @each $key, $value in $radio-btn-colors {
    &--#{$key} {
      &:checked:after {
        background-color: $value;
      }
    }
  }
}
