<div class="rating-wrapper">
  <input class="rating__input" type="radio" name="star" id="star_1" />
  <label class="rating__label" for="star_1">
    <fa-icon class="rating__icon" [icon]="faStar"></fa-icon>
  </label>
  <input class="rating__input" type="radio" name="star" id="star_2" />
  <label class="rating__label" for="star_2">
    <fa-icon class="rating__icon" [icon]="faStar"></fa-icon>
  </label>
  <input class="rating__input" type="radio" name="star" id="star_3" />
  <label class="rating__label" for="star_3">
    <fa-icon class="rating__icon" [icon]="faStar"></fa-icon>
  </label>
  <input class="rating__input" type="radio" name="star" id="star_4" />
  <label class="rating__label" for="star_4">
    <fa-icon class="rating__icon" [icon]="faStar"></fa-icon>
  </label>
  <input class="rating__input" type="radio" name="star" id="star_5" />
  <label class="rating__label" for="star_5">
    <fa-icon class="rating__icon" [icon]="faStar"></fa-icon>
  </label>
</div>
