.main-nav {
  $nav-color: rgb(0, 174, 255);

  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $nav-color;
  border-bottom: 1px solid $nav-color;

  &__header {
    display: flex;
    align-items: center;
    margin-left: 135px;
  }

  &__controls {
    display: flex;
    height: 22px;
    width: 100px;
    margin-right: 140px;
  }
}
