<div class="check-list">
  <div class="list">
    <h3 class="list__header">This is list</h3>
    <ul class="list__list">
      <li class="list__element">
        <input class="list__input" type="checkbox" />
        <span class="list__box"></span>
        <span class="list__text">This is some text</span>
      </li>
      <li class="list__element">
        <input class="list__input" type="checkbox" />
        <span class="list__box"></span>
        <span class="list__text">This is some text</span>
      </li>
    </ul>
  </div>

  <div class="list-2">
    <h3 class="list-2__header">This is list</h3>
    <ul class="list-2__list">
      <li class="list-2__element">
        <input class="list-2__input" type="checkbox" />
        <span class="list-2__box"></span>
        <span class="list-2__text">This is some text dasda</span>
      </li>
      <li class="list-2__element">
        <input class="list-2__input" type="checkbox" />
        <span class="list-2__box"></span>
        <span class="list-2__text">This is some text</span>
      </li>
    </ul>
  </div>
</div>
