<div class="download-row">
  <div class="download-row__element download-row__download">
    <a [href]="item.file.src" download="{{ item.title }}.{{ item.file.ext }}">
      <span class="download-row__icon-wrapper">
        <fa-icon [icon]="faDownload"></fa-icon>
      </span>
    </a>
  </div>
  <div class="download-row__separator"></div>
  <div class="download-row__element-wrapper">
    <div class="download-row__element download-row--big">
      {{ item.title }}
    </div>
    <div class="download-row__separator sm-hide"></div>
    <div class="download-row__element text-center">
      <div class="document-icon" [style.backgroundColor]="item.file.color">
        {{ item.file.ext | uppercase }}
      </div>
      <div class="download-row__element md-hide">
        <span
          class="download-row__icon-wrapper"
          (click)="infoModal.openModal()"
        >
          <fa-icon [icon]="faInfo"></fa-icon>
        </span>
      </div>
    </div>

    <div class="download-row__separator sm-hide"></div>
    <div class="download-row__element download-row--big sm-hide">
      {{ item.type }}
    </div>
    <div class="download-row__separator sm-hide"></div>
    <div class="download-row__element sm-hide">
      {{ item.date }}
    </div>
    <div class="download-row__separator sm-hide"></div>
    <div class="download-row__element sm-hide text-center">
      <span
        class="download-row__icon-wrapper info"
        (click)="infoModal.openModal()"
      >
        <fa-icon [icon]="faInfo"></fa-icon>
      </span>
    </div>
    <div class="download-row__separator sm-hide"></div>
    <div class="download-row__element sm-hide text-center">
      <span class="download-row__icon-wrapper" (click)="toggle('star')">
        <fa-icon class="star" [icon]="faStar"></fa-icon>
      </span>
    </div>
    <div class="download-row__separator sm-hide"></div>
    <div class="download-row__element sm-hide">
      {{ item.lang }}
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </div>
  </div>

  <app-modal #infoModal>
    <app-download-info
      *ngIf="infoModal.show"
      [item]="item"
      (closeModal)="infoModal.closeModal()"
      [ngStyle]="{ width: '100%' }"
    ></app-download-info>
  </app-modal>
</div>
