@import './breakpoints';

.sm-hide {
  display: none !important;

  @include respond-to('md') {
    display: flex !important;
  }
}

.md-hide {
  display: flex !important;

  @include respond-to('md') {
    display: none !important;
  }
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}

.text-center {
  @include respond-to('md') {
    justify-content: center;
  }
}

.info {
  color: rgb(0, 174, 255) !important;
}

.star {
  color: yellow !important;
}
