<div class="page-navigation is-animated">
  <div class="page-navigation__wrapper">
    <div class="page-navigation__link-wrap">
      <div class="page-navigation__element">
        <a href="" class="page-navigation__link page-navigation--active">
          Page 1
        </a>
      </div>
      <div class="page-navigation__element">
        <a href="" class="page-navigation__link">Page 2</a>
      </div>
      <div class="page-navigation__element">
        <a href="" class="page-navigation__link">Page 3</a>
      </div>
    </div>

    <div class="page-navigation__btn-wrap">
      <a href="" class="page-navigation__btn">Some Link</a>
    </div>
  </div>
</div>
