<div class="main-root">
  <section>
    <h1 class="headline">Navigation - component</h1>
    <app-navigation></app-navigation>
  </section>
  <section>
    <h1 class="headline">Download - component</h1>
    <app-download-list></app-download-list>
  </section>
  <section>
    <h1 class="headline">Modal - component</h1>
    <button type="button" (click)="myModal.openModal()">Open Modal</button>
    <app-modal #myModal>test</app-modal>
  </section>
  <section>
    <h1 class="headline">Header-box - component</h1>
    <app-header-box>
      <p>Some text goes here</p>
    </app-header-box>
  </section>
  <section>
    <h1 class="headline">Radio btn - component</h1>
    <app-radio-buttons></app-radio-buttons>
  </section>
  <section>
    <h1 class="headline">Checkbox - component</h1>
    <app-checkboxes></app-checkboxes>
  </section>
  <section>
    <h1 class="headline">Favorite - component</h1>
    <app-rating></app-rating>
  </section>
  <section>
    <h1 class="headline">Check list - component</h1>
    <app-check-list></app-check-list>
  </section>
  <section>
    <h1 class="headline">Buttons - component</h1>
    <app-buttons></app-buttons>
  </section>
  <section>
    <h1 class="headline">Buttons - component</h1>
    <app-loaders></app-loaders>
  </section>
</div>
