<div class="main-root">
  <section>
    <h1 class="headline">Navigation - component</h1>
    <app-navigation></app-navigation>
  </section>
  <section>
    <h1 class="headline">Download - component</h1>
    <app-download-list></app-download-list>
  </section>
  <section>
    <h1 class="headline">Modal - component</h1>
    <button type="button" (click)="myModal.openModal()">Open Modal</button>
    <app-modal #myModal>test</app-modal>
  </section>
  <section>
    <h1 class="headline">header-box - component</h1>
    <app-header-box>
      <p>Some text goes here</p>
    </app-header-box>
  </section>
  <section>
    <h1 class="headline">Radio btn - component</h1>
    <input class="radio-btn radio-btn--circle-red" type="radio" />
  </section>
</div>
