<div class="loaders">
  <div class="loader">
    <span class="loader__element"></span>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
  </div>

  <div class="loader-2">
    <span class="loader-2__element"><i class="loader-2__letter">L</i></span>
    <span class="loader-2__element"><i class="loader-2__letter">o</i></span>
    <span class="loader-2__element"><i class="loader-2__letter">a</i></span>
    <span class="loader-2__element"><i class="loader-2__letter">d</i></span>
    <span class="loader-2__element"><i class="loader-2__letter">i</i></span>
    <span class="loader-2__element"><i class="loader-2__letter">n</i></span>
    <span class="loader-2__element"><i class="loader-2__letter">g</i></span>
    <span class="loader-2__element"><i class="loader-2__letter">.</i></span>
  </div>
</div>
